//=====================
// Colors
//=====================

.color1 { background: @color1; }
.color2 { background: @color2; }
.color3 { background: @color3; }
.color4 { background: @color4; }
.color5 { background: @color5; }

.main-color-complex() {
	background: @main-color;
	box-shadow: inset 0 -14px 58px -5px @main-shadow;
}

.dark-color-complex() {
	background: @dark-color;
	box-shadow: inset 0 -14px 58px -5px @darkest-color;
}

//=====================
// Containers
//=====================

.responsive-square(@width: 20%) {
	height:0;
	width: @width;
	padding-bottom: @width;
	position: relative;
}

div { .user-select(none); }

.container {
	.fill;
	margin: @margin/2;
	position: relative;
}

.tab-content {
	display: none;

	&.active {
		display: block;
	}
}

span.topic {
	.main-color-complex;
	color: white;
	padding:5px;
	.rounded(2px);
}

.main-panel {
	background: @dark-color;
	box-shadow: inset 0 -14px 58px -5px @darkest-color;

	margin-left: 0px;
	margin-right: 0px;
}

//=====================
// Effects
//=====================

.hover-translate(@width:0px, @height:2px) {
	&:hover {
		.translate(@width, @height);
	}
}

//=====================
// Others
//=====================
.center() {
	margin-left: auto;
	margin-right: auto;
}

.squared(@width: 100%) {
	height: 0;
	padding-bottom: @width;
}

.fill-height(@percentage: 100%) {
	min-height:@percentage;
	height:@percentage;
}

.fill-width(@percentage: 100%) {
	min-width: @percentage;
	width: @percentage;
	&.squared, &.square {
		padding-bottom: @percentage;
	}
}

.fill(@width: 100%, @height: 100%) {
	.fill-width(@width);
	.fill-height(@height);
}

//=====================
// Columns and rows
//=====================
// TO-DO complete all columns and rows for responsive grid system
//

.storeer-col {
	position: relative;
	float: left;
	display: block;

	&.col1-3 { .fill-width(percentage(1/3)); }
	&.col2-3 { .fill-width(percentage(2/3)); }
	&.col1-4 { .fill-width(25%); }
	&.col3-4 { .fill-width(75%); }
	&.col1-2 { .fill-width(50%); }
	&.col1 { .fill-width; }
	&.col2 { .fill-width(50%); }
	&.col3 { .fill-width(33%); }
	&.col4 { .fill-width(25%); }
	&.col5 { .fill-width(20%); }
	&.col6 { .fill-width(percentage(1/3)); }
	
	// - Responsive behaviour
	// ---------------------
	// Columns fill width and in case of col6, storee thumbnails,
	// they adapt their size

	// col1-4 and col3-4 is used by the main panel and side panel
	@media @has-mobile-width {
		&.col1-4, &.col3-4 { .fill-width; }
	}

	// used in the storee thumbnails
	&.col6 {
		@media (max-width: 1600px) { 
			.fill-width(percentage(1/3));
			@media @has-mobile-width { .fill-width(10%); }
		}

		@media (max-width: 1300px) { .fill-width(50%); }

		@media (max-width: 1100px) { 
			.fill-width(percentage(1/3));

			@media @has-mobile-width {.fill-width(percentage(1/6)); }
		}
		
		@media (max-width: 900px) { 
			.fill-width(100%);

			@media @has-mobile-width  { .fill-width(25%); }
		}
		@media (max-width: 300px) { 
			.fill-width(50%);
			@media @has-mobile-width { .fill-width(50%); }
		}
	}
}

.storeer-row {
	.fill-width;
	
	&.row2 { .fill-height(50%); }
	&.row2-3 { .fill-height(percentage(2/3)); }
	&.row1-3 { .fill-height(percentage(1/3)); }
	&.row3-5 { .fill-height(percentage(3/5)); }
	&.row2-5 { .fill-height(percentage(2/5)); }

	// Responsive behaviour: 
	// ---------------------
	// when mobile is reached user can select
	// how the row will be redistributed
	@media @has-mobile-height {
		&.rowmobile3-4 { .fill-height(percentage(3/4)); }
		&.rowmobile1-4 { .fill-height(percentage(1/4)); }
		&.rowmobile2-3 { .fill-height(percentage(2/3)); }
		&.rowmobile0 { .fill-height(0%); }
		&.rowmobile4-5 { .fill-height(percentage(4/5)); }
		&.rowmobile1-5 { .fill-height(percentage(1/5)); }
		&.rowmobile3-20 { .fill-height(percentage(3/20)); }
		&.rowmobile17-20 { .fill-height(percentage(17/20)); }
	}
}

//=====================
// Embed from Font awesome
//=====================
// It seems that can't find declaration of icon-X in other files

.icon-2x{font-size:2em;}.icon-2x.icon-border{border-width:2px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
.icon-3x{font-size:3em;}.icon-3x.icon-border{border-width:3px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
.icon-4x{font-size:4em;}.icon-4x.icon-border{border-width:4px;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;}
.icon-5x{font-size:5em;}.icon-5x.icon-border{border-width:5px;-webkit-border-radius:7px;-moz-border-radius:7px;border-radius:7px;}
.icon-white,.nav-pills>.active>a>[class^="icon-"],.nav-pills>.active>a>[class*=" icon-"],.nav-list>.active>a>[class^="icon-"],.nav-list>.active>a>[class*=" icon-"],.navbar-inverse .nav>.active>a>[class^="icon-"],.navbar-inverse .nav>.active>a>[class*=" icon-"],.dropdown-menu>li>a:hover>[class^="icon-"],.dropdown-menu>li>a:hover>[class*=" icon-"],.dropdown-menu>.active>a>[class^="icon-"],.dropdown-menu>.active>a>[class*=" icon-"],.dropdown-submenu:hover>a>[class^="icon-"],.dropdown-submenu:hover>a>[class*=" icon-"]{background-image:none;}
.btn [class^="icon-"].icon-large,.nav [class^="icon-"].icon-large,.btn [class*=" icon-"].icon-large,.nav [class*=" icon-"].icon-large{line-height:.9em;}
.btn [class^="icon-"].icon-spin,.nav [class^="icon-"].icon-spin,.btn [class*=" icon-"].icon-spin,.nav [class*=" icon-"].icon-spin{display:inline-block;}
.nav-tabs [class^="icon-"],.nav-pills [class^="icon-"],.nav-tabs [class*=" icon-"],.nav-pills [class*=" icon-"],.nav-tabs [class^="icon-"].icon-large,.nav-pills [class^="icon-"].icon-large,.nav-tabs [class*=" icon-"].icon-large,.nav-pills [class*=" icon-"].icon-large{line-height:.9em;}
.btn [class^="icon-"].pull-left.icon-2x,.btn [class*=" icon-"].pull-left.icon-2x,.btn [class^="icon-"].pull-right.icon-2x,.btn [class*=" icon-"].pull-right.icon-2x{margin-top:.18em;}
.btn [class^="icon-"].icon-spin.icon-large,.btn [class*=" icon-"].icon-spin.icon-large{line-height:.8em;}
.btn.btn-small [class^="icon-"].pull-left.icon-2x,.btn.btn-small [class*=" icon-"].pull-left.icon-2x,.btn.btn-small [class^="icon-"].pull-right.icon-2x,.btn.btn-small [class*=" icon-"].pull-right.icon-2x{margin-top:.25em;}
.btn.btn-large [class^="icon-"],.btn.btn-large [class*=" icon-"]{margin-top:0;}.btn.btn-large [class^="icon-"].pull-left.icon-2x,.btn.btn-large [class*=" icon-"].pull-left.icon-2x,.btn.btn-large [class^="icon-"].pull-right.icon-2x,.btn.btn-large [class*=" icon-"].pull-right.icon-2x{margin-top:.05em;}
.btn.btn-large [class^="icon-"].pull-left.icon-2x,.btn.btn-large [class*=" icon-"].pull-left.icon-2x{margin-right:.2em;}
.btn.btn-large [class^="icon-"].pull-right.icon-2x,.btn.btn-large [class*=" icon-"].pull-right.icon-2x{margin-left:.2em;}
.nav-list [class^="icon-"],.nav-list [class*=" icon-"]{line-height:inherit;}
.icon-stack{position:relative;display:inline-block;width:2em;height:2em;line-height:2em;vertical-align:-35%;}.icon-stack [class^="icon-"],.icon-stack [class*=" icon-"]{display:block;text-align:center;position:absolute;width:100%;height:100%;font-size:1em;line-height:inherit;*line-height:2em;}
.icon-stack .icon-stack-base{font-size:2em;*line-height:1em;}
.icon-spin{display:inline-block;-moz-animation:spin 2s infinite linear;-o-animation:spin 2s infinite linear;-webkit-animation:spin 2s infinite linear;animation:spin 2s infinite linear;}
a .icon-stack,a .icon-spin{display:inline-block;text-decoration:none;}