//=====================
// Colors
//=====================

.color1 {
	background: @color1;
}
.color2 {
	background: @color2;
}
.color3 {
	background: @color3;
}
.color4 {
	background: @color4;
}
.color5 {
	background: @color5;
}

.main-color-complex() {
	background: @main-color;
	box-shadow: inset 0 -14px 58px -5px @main-shadow;
}

.dark-color-complex() {
	background: @dark-color;
	box-shadow: inset 0 -14px 58px -5px @darkest-color;
}

//=====================
// Containers
//=====================

.responsive-square(@width: 20%) {
	height:0;
	width: @width;
	padding-bottom: @width;
	position: relative;
}
div {
	.user-select(none);
}
.container {
	.fill;
	margin: @margin/2;
	position: relative;
}

.tab-content {
	display: none;

	&.active {
		display: block;
	}
}

span.topic {
	.main-color-complex;
	color: white;
	padding:5px;
	.rounded(2px);
}

.main-panel {
	background: @dark-color;
	box-shadow: inset 0 -14px 58px -5px @darkest-color;

	margin-left: 0px;
	margin-right: 0px;
}

//=====================
// Effects
//=====================

.hover-translate(@width:0px, @height:2px) {
	&:hover {
		.translate(@width, @height);
	}
}

//=====================
// Others
//=====================
.center() {
	margin-left: auto;
	margin-right: auto;
}

.squared(@width: 100%) {
	height: 0;
	padding-bottom: @width;
}

.fill-height(@percentage: 100%) {
	min-height:@percentage;
	height:@percentage;
}

.fill-width(@percentage: 100%) {
	min-width: @percentage;
	width: @percentage;
	&.squared, &.square {
		padding-bottom: @percentage;
	}
}

.fill(@width: 100%, @height: 100%) {
	.fill-width(@width);
	.fill-height(@height);
}

//=====================
// Columns
//=====================
// TO-DO complete all columns and rows for responsive grid system

.storeer-col {
	position: relative;
	float: left;
	display: block;
	&.col1-3 {
		.fill-width(percentage(1/3));
	}
	&.col2-3 {
		.fill-width(percentage(2/3));
	}
	&.col1-4 {
		.fill-width(25%);

		@media (max-width: @mobile-width) {
			.fill-width(100%);
		}
	}
	&.col3-4 {
		.fill-width(75%);
		@media (max-width: @mobile-width) {
			.fill-width(100%);
		}
	}
	&.col1-2 {
		.fill-width(50%);
	}
	&.col1 {
		width: 100%;
	}
	&.col2 {
		.fill-width(50%);

		@media (max-width: @mobile-width) {
			.fill-width(100%);
		}
	}
	&.col3 {
		width: 33%;

		&.responsive {
			@media (max-width: @mobile-width) {
				.fill-width(100%);
			}
		}
	}
	&.col4 {
		width: 25%;
	}
	&.col5 {
		width: 20%;
	}
	&.col6 {
		.fill-width(percentage(1/3));

		@media (max-width: 1600px) {
			.fill-width(percentage(1/3));

			@media(max-width: @mobile-width) {
				.fill-width(10%);
			}
		}

		@media (max-width: 1300px) {
			.fill-width(50%);
		}

		@media (max-width: 1100px) {
			.fill-width(percentage(1/3));

			@media(max-width: @mobile-width) {
				.fill-width(percentage(1/6));
			}
		}
		
		@media (max-width: 900px) {
			.fill-width(100%);

			@media(max-width: @mobile-width) {
				.fill-width(25%);
			}
		}
		@media (max-width: 300px) {
			.fill-width(50%);

			@media(max-width: @mobile-width) {
				.fill-width(50%);
			}
		}
	}
}

.storeer-row {
	&:before {
		content: "";
		display: table;
	}
	&:after {
		content: "";
		display: table;
		clear: both;
	}
	width:100%;
	&.row2 {
		.fill-height(50%);
	}
	&.row2-3 {
		.fill-height(percentage(2/3));
	}
	&.row1-3 {
		.fill-height(percentage(1/3));
	}
	&.row3-5 {
		.fill-height(percentage(3/5));
	}
	&.row2-5 {
		.fill-height(percentage(2/5));
	}

	@media(max-height: @mobile-height) {
		&.rowmobile3-4 {
			.fill-height(percentage(3/4));
		}
		&.rowmobile1-4 {
			.fill-height(percentage(1/4));
		}
		&.rowmobile2-3 {
			.fill-height(percentage(2/3));
		}
		&.rowmobile0 {
			.fill-height(0%);
		}
		&.rowmobile4-5 {
			.fill-height(percentage(4/5));
		}
		&.rowmobile1-5 {
			.fill-height(percentage(1/5));
		}
		&.rowmobile3-20 {
			.fill-height(percentage(3/20));
		}
		&.rowmobile17-20 {
			.fill-height(percentage(17/20));
		}
	}
}