div {
	.user-select(none);
}

.container {
	margin: @margin/2;
	.fill;
	position: relative;
}

.hover-translate(@width:0px, @height:2px) {
	&:hover {
		.translate(@width, @height);
	}
}

.squared(@width: 100%) {
	height: 0;
	padding-bottom: @width;
}

span.topic {
	.main-color-complex;
	color: white;
	padding:5px;
	.rounded(2px);
}

.main-panel {
	background: @dark-color;
	box-shadow: inset 0 -14px 58px -5px @darkest-color;

	margin-left: 0px;
	margin-right: 0px;
}


.blur(@pixels : 0px) {
	-webkit-filter: blur(@pixels);
	-ms-filter: blur(@pixels);
	-moz-filter: blur(@pixels);
	-o-filter: blur(@pixels);
	filter: blur(@pixels);
}

.animate (@name, @parameters) {
	animation: @name @parameters;
	-webkit-animation: @name @parameters;
}

.center() {
	margin-left: auto;
	margin-right: auto;
}

.fill-height(@percentage: 100%) {
	min-height:@percentage;
	height:@percentage;
}

.fill-width(@percentage: 100%) {
	min-width: @percentage;
	width: @percentage;
}

.fill(@width: 100%, @height: 100%) {
	.fill-width(@width);
	.fill-height(@height);
}

.carbon() {
	background:
		linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
		linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
		linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
		linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
		linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
		linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
		background-color: #131313;
		background-size: 20px 20px;
}


//=====================
// Columns
//=====================

.storeer-row {
	&:before {
		content:"";
		display: table;
	}
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

.storeer-row {
}


.storeer-col {
	position: relative;
	&.col1-3 {
		.fill-width(percentage(1/3));
	}
	&.col2-3 {
		.fill-width(percentage(2/3));
	}
	&.col1-4 {
		.fill-width(percentage(1/4));
	}
	&.col2-4 {
		.fill-width(percentage(2/4));
	}
	&.col1 {
		width:100%;
	}
	&.col2 {
		width: 50%;
		&.squared {
			padding-bottom: 50%;
		}
		@media (max-width: @mobile-width) {
			width: 100%;
			&.squared {
				padding-bottom: 100%;
			}
		}
		
	}
	&.col3 {
		width: 33%;
	}
	&.col4 {
		width: 25%;
	}
	&.col5 {
		width: 20%;
	}
	&.col6 {
		width: 16%;
		&.square {
			padding-bottom: 16%;
		}
		@media (max-width: 1600px) {
			width: 20%;
			&.square {
				padding-bottom: 20%;
			}
		}
		@media (max-width: 1300px) {
			width: 25%;
			&.square {
				padding-bottom: 25%;
			}
		}
		@media (max-width: 1100px) {
			
			width: 33%;
			&.square {
				padding-bottom: 33%;
			}
		}
		
		@media (max-width: 900px) {
			
			width: 50%;
			&.square {
				padding-bottom: 50%;
			}
		}
		@media (max-width: 300px) {
			
			width: 100%;
			&.square {
				padding-bottom: 100%;
			}
		}
	}
	float:left;
	display: block;
	.transition(0.4s, ease-in-out);
}

.storeer-row {
	&.row2 {
		.fill-height(50%);
	}
	&.row2-3 {
		.fill-height(percentage(2/3));
	}
	&.row1-3 {
		.fill-height(percentage(1/3));
	}
	&.row3-5 {
		.fill-height(percentage(3/5));
	}
	&.row2-5 {
		.fill-height(percentage(2/5));
	}
	.transition(0.5s, ease-in-out);
	&.rowmobile3-4 {
		@media(max-height: @mobile-height) {
			height: 75%;
			min-height: 75%; 
		}
	}
	&.rowmobile1-4 {
		@media(max-height: @mobile-height) {
			height: 25%;
			min-height: 25%;
		}
	}
	&.rowmobile2-3 {
		@media(max-height: @mobile-height) {
			height: 66%;
			min-height: 66%;
		}
	}
	&.rowmobile0 {
		@media(max-height: @mobile-height) {
			height: 0% !important;
			min-height: 0% !important;
		}
	}
	&.rowmobile4-5 {
		@media(max-height: @mobile-height) {
			height: 75%;
		}
	}
	&.rowmobile1-5 {
		@media(max-height: @mobile-height) {
			height: 25%;
		}
	}

}