@main-color: #20B25E;
@main-shadow: #247F4A;
@lightest-color: #f7f8f9;
@dark-color: #323a45;
@darkest-color: #23282f;

.main-color-complex() {
	background: @main-color;
	box-shadow: inset 0 -14px 58px -5px @main-shadow;
}

.dark-color-complex() {
	background: @dark-color;
	box-shadow: inset 0 -14px 58px -5px @darkest-color;
}

@transparent: rgba(0, 0, 0, 0);
@translucid: rgba(0,0,0, 0.4);

@top-most-z : 10000;

// Logo
@logo-main-color: white;

@avatar-size: 80px;

@thumbnail-size: 162px;

@color1: #468966;
@color2: #FFED80;
@color3: #FFB03B;
@color4: #B64926;
@color5: #8E2800;

@color-info: @color1;
@color-comments: @color2;
@color-share: @color3;
@color-related: @color4;
@color-close: @color5;

@margin: 20px;

@mobile-width: 840px;
@mobile-height: 770px;

@max-width: 1500px;

@navbar-height: 60px;

