//=====================
// Colors
//=====================

@main-color: #20B25E;
@main-shadow: #247F4A;
@lightest-color: #f7f8f9;
@dark-color: #323a45;
@darkest-color: #23282f;

@transparent: rgba(0, 0, 0, 0);
@translucid: rgba(0,0,0, 0.4);

@color1: #468966;
@color2: #FFED80;
@color3: #FFB03B;
@color4: #B64926;
@color5: #8E2800;

@color-info: @color1;
@color-comments: @color2;
@color-share: @color3;
@color-related: @color4;
@color-close: @color5;

// Logo
@logo-main-color: white;

//=====================
// General
//=====================

@media : desktop;
@top-most-z : 10000;

//=====================
// Rulers
//=====================

@avatar-size: 80px;
@thumbnail-size: 162px;
@margin: 20px;

@mobile-width: 840px;
@mobile-height: 600px;

@max-width: 1500px;
@min-height: 550px;
@min-width: 550px;

@navbar-height: 60px;

@has-mobile-width: ~"(max-width: @{mobile-width})";
@has-desktop-width: ~"(min-width: @{mobile-width})";
@has-desktop-height: ~"(min-width: @{mobile-height})";
@has-mobile-height: ~"(max-width: @{mobile-height})";
@has-mobile: ~"@{has-mobile-width}, @{has-mobile-height}";
@has-desktop: ~"@{has-desktop-width}, @{has-desktop-height}";


