/* desktop.less */
@import url("bootstrap.css");
@import "elements.less";
@import "commonstyles.less";
@import "config.less";
@import "font-awesome.min.css";

//=====================
// Main Page
//=====================

// to add full height to work 
html, body, .storeer-content {
	.fill-height;
	overflow: hidden;
}

#storeer-content {
	z-index: @top-most-z*100;
	margin-top:-5px;
	.fill-height(90%);
	
	@media(max-height: @mobile-height) {
		.fill-height(92%);
	}
	overflow: hidden;
	.drop-shadow(0, 0, 4px, 0.2, 1px);
	max-width: @max-width;
	.center;
	background: white;
	position: relative;
}

body {
	background-color: #F5F5F5;
	background: 
		url(../img/noise.png) repeat;
	min-width: 480px;
	min-height: 480px;
}

//=====================
// Navbar
//=====================

.storeer-navbar {
	margin:0;
	.main-color-complex;
	z-index: @top-most-z*100;
	position: relative;
	height: @navbar-height;

	h3 {
		float: left;
		padding: 0 20px 0 20px;
		position: absolute;
		top: -4px;

		color: @logo-main-color;
		text-shadow: 
			0 1px 0 @logo-main-color*0.8,
			0 2px 0 @logo-main-color*0.5,
			0 3px 0 @logo-main-color*0.6,
			0 4px 1px transparent,
			0 0px 5px transparent,
			0 1px 3px rgba(0, 0, 0, 0.3),
			0 2px 5px rgba(0, 0, 0, 0.2),
			0 3px 10px rgba(0, 0, 0, 0.25),
			0 5px 10px rgba(0, 0, 0, 0.2),
			0 10px 20px rgba(0, 0, 0, 0.15);

		.transition(0.2s, ease-in-out);
		&:hover {
			.translate(0,-1px);
			
			text-shadow: 
				0 0px 0 @logo-main-color*0.8,
				0 1px 0 @logo-main-color*0.5,
				0 2px 0 @logo-main-color*0.6,
				0 3px 1px rgba(0, 0, 0, 0.1),
				0 0px 2px rgba(0, 0, 0, 0.1),
				0 0px 1px rgba(0, 0, 0, 0.3),
				0 1px 2px rgba(0, 0, 0, 0.2),
				0 2px 5px rgba(0, 0, 0, 0.25),
				0 3px 5px rgba(0, 0, 0, 0.2),
				0 5px 10px rgba(0, 0, 0, 0.15);
		}
	}
	.storeer-subvar {
		width:100%;
		height: 1px;
		bottom:-1px;
		position: absolute;
		background: 
			fadeout(@main-shadow, 50%); 
		border-bottom: solid 1px @dark-color;
		.drop-shadow(0, 1px, 2px, 0.4, 0px);
	}

	.storeer-navbar-inner {
	    max-width: @max-width;
	    .center;
	    
	    &:before {
	    	display: table;
	    	line-height: 0;
	    	content: "";
	    }
	    &:after {
	    	display: table;
	    	line-height: 0;
	    	content: "";
	    	clear:both;
	    }
	}
	.menu {
		position: relative;
		li {
			float:left;
			height: @navbar-height;
			width: @navbar-height;
			.drop-shadow(2px 2px);
			color: white;
			-webkit-box-shadow: 
				inset 0px 5px 15px 2px rgba(0, 0, 0, 0.0),
				inset 0px 5px 2px 2px rgba(0, 0, 0, 0.0);
			text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
		}
	}
}
.color1 {
	background: @color1;
}
.color2 {
	background: @color2;
}
.color3 {
	background: @color3;
}
.color4 {
	background: @color4;
}
.color5 {
	background: @color5;
}


//=====================
// Storee Library
//=====================

.storeer-library {
	display: inline-block;
	overflow: hidden;
	.fill-height;
	.storeer-library-content {
		padding: @margin/2;
		border-left: solid 1px fadeout(#444444, 80%);
		height: 98%;
	}
}


.storeer-results-content {
	.fill-height;
}



.storeer-storee-border {
	.fill;
    position: absolute;
	.transition(0.2s, ease-in-out);

	&:hover {
		.scale(1.1);
	}
	.storeer-outer-thumbnail {
		position: relative;
		padding: @margin/2;
		.fill;
		box-sizing: border-box;
		overflow: hidden;
		
	}

	.storeer-storee-thumbnail {
		.fill;
		.drop-shadow(0, 1px, 2px, 0.4);
		.rounded(1px);
	}

	.storeer-storee-thumbnail-transparency {
		&:hover {
			background: fadeout(white, 95%);
		}
	}
}

.storeer-comments {
	height: 100%;
	width: 100%;
	display: block;
	float: left;
	position: absolute;
	overflow-y:hidden;

	&.no-mobile {
		width: @avatar-size*1.2;
		display: none;
	}

	&.mobile {
		float: none;
		top: 0;
		.transition(0.5s, ease-in, top);

		.storeer-options-container {
			.storeer-options {
				height: @avatar-size/2;
				width: @avatar-size/2;
				// commented for version without extra options display: inline-block;
				i {
					padding-top: 4px;
				}
			}
		}

		#storeer-options-mobile {
			margin-left: @avatar-size;
			position: absolute;
			top: @avatar-size;
			.transition(0.5s, ease-in, top);
			@media(max-height: @mobile-height) {
				top: @avatar-size/2;
			}
		}
	}
}
#storeer-options {
	position: absolute;
	z-index: @top-most-z - 2;
}
.storeer-options-container {
	.fill-height;
	float: left;
	margin-left: @avatar-size*0.25;

	.mobile {
		float: none;
		.fill-height(50%);
	}
}


.storee-collection {
	width: 100%;
	height: 100%;
	display: block;

}

.storeer-search {
	.rounded(0px) !important;
	background: fadeout(grey, 80%) !important;
	width: 100%;
	height: 25px !important;
	position: relative;
	display: inline-block;

	&:hover, &:focus {
		background: white !important;
		.transition(0.2s, ease-in-out);
	}
	&:focus {
		border-color: grey !important;
		.drop-shadow(0, 0, 2px, 0.2, 0px) !important;
	}
}


#storeer-searchBar {
	height: 35px;
	margin: @margin/2;
}

#storeer-results {
	position: relative;
	height: 90%;
	margin: @margin/2;
	overflow-y: scroll;
	overflow-x: hidden;
}


.storee-summary {
	position: relative;
	display:inline-block;
	box-sizing: border-box;
	&.dragging {
		.scale(0.8);
	}
}

.storeer-searchbar {
	position: relative;
	input[type="text"] {
		max-width: 100%;
		padding: 4px 0px 4px 4px !important;
	}
	max-width: 98%;
	i {
		position: absolute;
		vertical-align: middle;
		right: 0px;
		top: @margin/2;
		right: @margin/2;
		display: inline-block;
		&.icon-spinner {
			opacity: 0;
		}
		&.icon-search {
			opacity: 1;
		}
	}
	&.loading {
		i {
			&.icon-spinner {
				opacity: 1;
			}
			&.icon-search {
				opacity: 0;
			}
		}

	}
}

.options-item (@color : black) {
	background: darken(@lightest-color, 30%);

	&.active {
		border-left: solid 3px @color;
		background: @lightest-color !important;
		&.mobile {
			border-left: solid 1px fadeout(grey, 0.2);
			.options-outline {
				height:3px;
				background: @color;
			}
			i {
				.translate(0, 2px);
			}
		}
	}
	&:hover {
		background: darken(@lightest-color, 15%);
	}
	&.mobile {
		.options-outline {
			width: 100%;
			height: 3px;
		}
	}
}

.storeer-options {
	height: @avatar-size*0.75;
	width: @avatar-size*0.75;
	border-bottom: solid 1px fadeout(grey, 0.2);
	display: none;
	&.mobile {
		border-left: solid 1px fadeout(grey, 0.2);
		&.active {
			display: block;
		}
	}
	&.no-mobile {
		position: relative;
		&.active {
			z-index: @top-most-z;
			.drop-shadow(-3px, 1px, 4px, 0.2, 0px);
		}
	}

	i {
		.text-center;
		width: 100%;
		height: 100%;
		display: block;
		.icon-2x;
		padding-top: @avatar-size*0.2;
	}

	.transition(0.7s, ease-in-out, margin-top);
	&.info {
		.options-item(@color-info);
		&.no-mobile {
			@media(max-height: @mobile-height) {
				margin-top: -@avatar-size;
			}
		}
	}
	&.comments {
		.options-item(@color-comments);
		&.no-mobile {
			@media(max-height: @mobile-height) {
				margin-top: -@avatar-size*2;
			}
		}
	}
	&.share {
		.options-item(@color-share);
		&.no-mobile {
			@media(max-height: @mobile-height) {
				margin-top: -@avatar-size*3;
			}
		}
	}
	&.related {
		.options-item(@color-related);
		&.no-mobile {
			@media(max-height: @mobile-height) {
				margin-top: -@avatar-size*4;
			}
		}
	}

	&.remove {
		.options-item(@color-close);
		&.no-mobile {
			@media(max-height: @mobile-height) {
				margin-top: -@avatar-size*5;
			}
		}
	}
}

.storeer-option {
	.fill-height(82%);
}

#storeer-options-content {
	margin-left: @avatar-size*0.25;
	background: @lightest-color;
	.fill-height;
	overflow-y: auto;
	border-left: 1px solid fadeout(grey, 0.2);
	.media {

		.media-body {
			padding: 5px 20px 5px 5px;

		}
		.pull-left {
			margin-right: 0px !important;
		}
		&:nth-child(even) {
			outline: rgba(0,0,0,0.1) 1px solid;
			box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
			background: white;
		}
		margin-top: 0px;
		// Old version with different options
		//margin-right: @margin;
		//display: table-row;
		img {
			height: @avatar-size*0.75;
			width: @avatar-size*0.75;
		}
		span {
			position: relative;
			input {
				.fill(100%, 100%);
				.rounded(0px);
			}
			i {
				top: 0px;
				right: 10px;
				position: absolute;
				border-left: solid 1px rgba(0, 0, 0, 0.2);
				padding-left: 5px;
				box-shadow: -1px 0px 1px rgba(0, 0, 0, 0.2);
				&:hover {
					text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
					.translate(0, 1px);
				}
			}
		}
	}
	.media-object {
		.rounded(1px);
	}
}


//=====================
// Storee Explorer
//=====================

.storeer-visualizer-drop {
	.fill;
	background: fadeout(white, 100%);
	position: absolute;
	top:0;
	left:0;
	z-index: @top-most-z*10;
	.transition(0.5s, ease-in-out, background);
	pointer-events: none;

	// We show dark bar when is closed
	&.closed {
		background: @dark-color;
		box-shadow: 
			inset 0 -14px 58px -5px @darkest-color;
	}

	// Div containing the icon of the dropzone helper
	div {
		position: relative;
		color: transparent;
		.fill;
		top: 50%;
		i {
			.transition(0.5s, ease-in-out);
			.center;
			.fill-width;

			display: inline-table;
			position: absolute;
			text-align: center;
			&.drag-over {
				.transform(scale(0));
			}
			&.drag {
				.transform(scale(0));
			}
		}
	}

	// Dragging storee and not necessarily on top 
	&.dragging {
		background: fadeout(@dark-color, 30%);
		.drop-shadow(inset, 0, 0, 0.7, 15px);
		pointer-events: all;

		div {
			pointer-events: none;
			i {
				&.drag {
					.transform(scale(1));
				}
				&.drag-over {
					.transform(scale(0));
				}
			}
			color: fadeout(@lightest-color, 20%);
			font-size: 2em;
			text-shadow: 
				-1px -1px 5px rgba(0, 0, 0, 0.2), 
				1px -1px 5px rgba(0, 0, 0, 0.2),
				0px 0px 3px rgba(0, 0, 0, 0.3),
				0px 0px 3px rgba(0, 0, 0, 0.3),
				0px 0px 1px rgba(0, 0, 0, 0.5),
				0px 0px 1px rgba(0, 0, 0, 0.5);
		}
	}

	// Draged item is on top of us
	&.drag-over {
		div {
			i {
				color: @lightest-color;

				&.drag-over {
					.transform(scale(1.2));
				}
				&.drag {
					.transform(scale(1.2));
					
				}
			}
		}
		background: fadeout(@dark-color, 20%);
	}
}
//=====================
// Storee Visualizer
//=====================

.storeer-storee {
	display: inline;
	overflow: hidden;
	.fill-height;
	// Visualizer is closed
	&.closed {
		width: 30px;
		// User is dragging 
		&.dragging {
			width: 40px;
		}
	}

	.storeer-visualizer {
		.fill-height;
	}
}

.storeer-visualizer-frame {
	position: relative;
	@media(max-height: @mobile-height) {
		.fill-height(82%) !important;
	}
}

.storeer-details {
	display: block;
	border-top: 1px solid @lightest-color;
	outline: 1px solid @lightest-color*0.5;
	background: @dark-color;
	overflow: hidden;
	.drop-shadow(inset 0px, 10px, 15px, 0.2);
	@media(max-height: @mobile-height) {
		position: absolute;
		.fill-height(@avatar-size*1.1px) !important;
		bottom: 0px;
		width: 100%;
	}
}

.storeer-control {
	position: absolute;
	width: 40px;
	height: 40px;
	font-size: 60px;
	font-weight: 100;
	line-height: 30px;
	color: #ffffff;
	text-align: center;
	background: #222222;
	opacity: 0.5;
	filter: alpha(opacity=50); 
	text-decoration: !important none;
	z-index: @top-most-z -1;
	text-shadow: 2px 2px 5px #111111;
	.transition(0.2s, ease-in-out);

	&:hover {
		background: #555555;
	}
}



.storeer-control-close {
	.storeer-control;
	top: 0px;
	right: 0px;
	opacity: 0;
	&:hover {
		opacity: 1;
	}
	p {
		margin-top: 3px;
		.transition(0.2s, ease-in-out, opacity);
		.hover-translate();
		&:hover {
			text-decoration: none;
			color: white;
		}
	}
}

.storeer-control-arrow {
	.storeer-control;
	top: 50%;
	&.next {
		left: auto;
		right: 0px;
		:hover {
			.translate(4px, 0);
		}	
	}
	p {
		.transition(0.2s, ease-in-out);
		&:hover {
			text-decoration: none;
			.translate(-4px, 0);
			color: white;
		}	
	}
}


.storeer-frame-strip {
	position:relative;
	width: 1000%;
	overflow: hidden;
	padding-left: 30px;
	overflow: visible;
	.fill-height;
	.transition(0.5s, ease-in-out);
}

// Each of the frames in the Storee
.storeer-frame {
	.fill-height;
	position: relative;
	float: left;
	display: block;
	vertical-align: middle;
	.transition(0.6s, ease-in-out, transform);
	&.active {
		img {
			.drop-shadow(0, 0, 2px, 0.4, 2px);
		}
		.storeer-frame-transparency {
			background: fadeout(black, 100%);
		}
	}
	img {
		display: block;
		height: inherit;
		width: auto;
		margin-top:-200%;
		.transition(0.7s, ease-in, margin-top box-shadow);
	}
	.storeer-frame-transparency {
		width: 100%;
		height: 100%;
		position: absolute;	
		background: fadeout(black, 50%);
		top:0px;
		.transition(0.5s, ease-in-out, background);
	}
}




// Comments
.storeer-details-topbar {
	width: 100%;
	max-height: @avatar-size;
	min-height: @avatar-size;
	background: @darkest-color;
	position: relative;
	overflow: hidden;
	z-index: @top-most-z;
	.drop-shadow(0px, 1px, 1px, 0.5, 0px);
}

.media-content {
	float:left;

	.storeer-title, .storeer-author {
		margin-left:15px;
		color: white;
		display: block;
		@media(max-height: @mobile-height) {
			display: inline-block;
		}
	}
}

.media-preview {
	float:left;
	display: table-row;
	min-width: @avatar-size;
	max-width: @avatar-size;
}

.avatar-frame {
	width: 80%;
	height:0;
	padding-bottom: 80%;

	position: relative;
	
	.transition(1s, ease-in-out);

	.avatar-img {
		overflow: hidden;
		position: absolute;
		min-width: 80px;
		min-height: 80px;
		left:0;
		top:0;
		height: 100%;
		width: 100%;
	}
}


//=====================
// Footer
//=====================

#storeer-footer {
	height:5%;
	z-index: @top-most-z;
	background: @darkest-color;
}


//=====================
// Storeer community summary
//=====================
.storeer-summary {
	.fill;
	
}

.header {
	padding: @margin/2 @margin @margin/2 @margin;
	float:left;
}


//=====================
// Landing
//=====================
.storeer-landing {
	position: absolute;
	left:0px;
	top:0px;
	.fill;
	z-index: @top-most-z*2;
	background: grey;

	.landing-container {
		.fill;
	}

	.main-info {
		overflow: hidden;
		.drop-shadow(inset 0px, 0px, 4px, 0.5, 2px);

		.landing-text {
			text-align: center;
			position: relative;
			display: block;
			color: white;
			text-shadow:
				1px 1px 1px darken(grey, 20%),
				0px 0px 8px darken(grey, 30%);

			margin: 30px;
			
			.landing-information {
				.transition(0.2s, ease-in-out, opacity);
				position: absolute;
				width: 100%;
				top: 0px;
				opacity: 0;

				&.active {
					opacity: 1;
				}
			}
		}
	}

	.sub-info {
		background: @lightest-color;
		padding: 20px;

		.landing-icons {
			.icon-3x;
			text-align: center;
			color: @dark-color;
		}
		.landing-text {
			padding: 20px 40px 20px 40px;
		}

	}
	.background {
		width: 150%;
		min-height: 100%;
		left: 0px;
		top: 0;
		background-image: url("/img/background.jpg");
		background-position: 50% 50%;
		background-size: cover;
		background-repeat: no-repeat;
	}
	.content {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0px;
		left: 0;
	}

	.landing-story {
		width: 80%;
		display: table;
		margin-left: 10%;
		padding-bottom: 30px;
		.transition(0.5s, ease-in-out, -webkit-transform);
		.landing-storee {
			float: left;
			.responsive-square(20%);
			display: table-row;
		}
		.active {
			.scale(1.1);
			.storeer-storee-border {
				.scale(1);
			}
		} 
	}

	.landing-button {
		background: @main-color;
		padding: @margin/2 @margin*2 @margin/2 @margin*2;
		box-shadow: 
			inset 0 -14px 58px -5px @main-shadow,
			1px 1px 0px 1px fadeout(darken(@main-shadow, 10%), 10%),
			1px 1px 5px 1px rgba(0, 0, 0, 0.3);

		width: 10%;
		max-width: 500px;
		.center;

		.rounded(1px);
		display: inline-block;

		&:hover {
			background: lighten(@main-color, 5%);
			.drop-shadow(0px, 0px, 1px, 0.3, 0px);
			.translate(0px, 2px);

		}
	}
}


//=====================
// Scroll
//=====================
::-webkit-scrollbar {
    width: @margin/2;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3); 
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
 

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 2px;
    border-radius: 2px;
    .main-color-complex;
    .transition(2s, ease-in);

    &:window-inactive {
    	background: fadeout(@main-color, 80%); 
    }

    &:hover {
    	background: lighten(@main-color, 20%);
    }
}
