//=====================
// Storeer Library
//=====================

// Contains the elements 

.storeer-library {
	overflow: hidden;
	background: white;
	padding-bottom: @margin/2;
	z-index: @top-most-z/10;
	right: 0px;
	height: 95%;
	.drop-shadow(0px, 1px, 5px, 0.3);

	&.closed { .fill-width(0%); }

	// Responsive behaviour
	// --------------------
	@media @has-mobile-width {
		.fill-height(100%);
		.border-radius(0, 0, 2px, 2px);
		.drop-shadow(-1px, 1px, 5px, 0.3);
		width: 90%;
		position: absolute;
	}

	@media @has-desktop-width  {
		left: 0% !important;
		width: 100%;
		.border-radius(2px, 2px, 0px, 0px);
	}

	.storeer-library-content {
		height: 100%;
		
		@media @has-mobile-height { height: 90%; }
	}
}


.storeer-results-content {
	.fill-height;
}

.storeer-storee-border {
	.fill;
    position: absolute;
	.transition(0.2s, ease-in-out);
	&:hover { .scale(1.1); }

	.storeer-outer-thumbnail {
		position: relative;
		padding: @margin/2;
		.fill;
		box-sizing: border-box;
		overflow: hidden;
	}

	.storeer-storee-thumbnail {
		.fill;
		.drop-shadow(0, 1px, 2px, 0.4);
		.rounded(1px);
	}

	.storeer-storee-thumbnail-transparency {
		&:hover { background: fadeout(white, 95%); }
	}
}

.storee-collection {
	width: 100%;
	height: 100%;
	display: block;
	overflow-y: scroll;
	overflow-x: hidden;
}

// Each of the elements
.storee-summary {
	position: relative;
	display:inline-block;
	box-sizing: border-box;
	&.dragging { .scale(0.8); }
}

//---------------------
// Search bar
//---------------------

.storeer-search {
	.rounded(0px) !important;
	background: fadeout(grey, 80%) !important;
	width: 100%;
	height: 25px !important;
	position: relative;
	display: inline-block;

	&:hover, &:focus {
		background: white !important;
		.transition(0.2s, ease-in-out);
	}
	&:focus {
		border-color: grey !important;
		.drop-shadow(0, 0, 2px, 0.2, 0px) !important;
	}
}

#storeer-searchBar {
	height: 35px;
	margin: @margin/2;
}

#storeer-results {
	position: relative;
	overflow: hidden;
	padding-left: @margin/2;
	margin-right: @margin/2;
	height: 92%;

	// Responsive behaviour
	// --------------------
	@media(max-height: 760px) {
		height: 89%;
	}
	@media @has-mobile-height {
		height: 95%;
	}
}

.storeer-searchbar {
	position: relative;
	input[type="text"] {
		max-width: 100%;
		padding: 4px 0px 4px 4px !important;
	}
	max-width: 98%;
	i {
		position: absolute;
		vertical-align: middle;
		right: 0px;
		top: @margin/2;
		right: @margin/2;
		display: inline-block;
		&.icon-spinner { display: none; }
		&.icon-search { display: block;  }
	}
	&.loading {
		i {
			&.icon-spinner { display: block; }
			&.icon-search { display: none; }
		}

	}
}
