//=====================
// Landing
//=====================

.storeer-landing {
	position: absolute;
	left: 0px;
	top: 0px;
	.fill;
	z-index: @top-most-z*2;
	background: grey;
	overflow: hidden;
	box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.5);

	.landing-container { .fill; }

	// Top row
	.main-info {
		overflow: hidden;
		.drop-shadow(inset 0px, 0px, 4px, 0.5, 2px);

		.landing-text {
			top: @margin/2;
			text-align: center;
			position: relative;
			display: block;
			color: white;
			text-shadow:
				1px 1px 1px darken(grey, 20%),
				0px 0px 8px darken(grey, 30%);

			margin: auto;

			@media @has-mobile-size {
				h2 { font-size: 20px; }
				h1 { font-size: 25px; margin: @margin/2;}
			}
			
			.landing-information {
				.transition(0.2s, ease-in-out, opacity);
				position: absolute;
				width: 100%;
				top: 0px;

				opacity: 0;
				&.active { opacity: 1; }
			}
		}
	}

	// Sub row
	.sub-info {
		background: @lightest-color;
		border-top: 1px solid fadeout(grey, 50%);
		padding: @margin;

		.landing-icons {
			.icon-3x;
			text-align: center;
			color: @dark-color;
		}

		.landing-text {
			padding: @margin @margin*2 @margin @margin*2;
			@media @has-mobile-size { font-size: 70%; }
		}

		// Space with text that promote the site
		.landing-promo {
			i {
				.transition(0.5s, ease-in-out, margin);
				text-shadow: 1px 1px 1px fadeout(grey, 50%);
			}

			// Icons normal behaviour
			// ----------------------

			// Users sharing
			.icon-user {
				position: absolute;
				margin-left: -40px;
			}
			.icon-group {
				margin-left: 40px;
			}
			.icon-heart {
				position: absolute;
				margin-left: -20px;
				.scale(0.6);
			}

			// Yon koma
			.icon-sign-blank {
				position: absolute;
				.scale(0.23);
				margin-top: -14px;
				margin-left: -26px;
			}


			// Icon animations on hover
			// ----------------------
			&:hover {
				// Photo promo
				.icon-cog { .icon-spin; }

				// Users sharing
				.icon-heart { margin-left: 10px; }
				.icon-user { margin-right: 20px; }

				// Yon koma 
				.icon-sign-blank {
					&.first { margin-left: -48px; }
					&.second { margin-left: -37px; }
					&.third { margin-left: -26px; }
					&.fourth { margin-left: -14px; }
					&.fifth { margin-left: -3px; }
				}
			}
		}
	}

	.background {
		.fill;
		background-image: url("/img/10_background.jpg");
		background-position: 50% 50%;
		background-size: cover;
		background-repeat: no-repeat;
		position: relative;
	}

	.content {
		position: absolute;
		.fill;
		top: 0px;
		left: 0px;
	}

	.landing-story {
		height: 60%;
		position: relative;
	}

	img {
		.drop-shadow(0, 1px, 2px, 0.4);
		.rounded(2px);
	  	margin: @margin/2;
		max-width: 15%;
		&:hover { -webkit-transform: scale(1.05) translate(10%, 10%); }
		&.active { -webkit-transform: scale(1.1) translate(10%, 10%); }
	}

	.landing-button {
		background: @main-color;
		padding: @margin/3 @margin*2 @margin/3 @margin*2;
		.center;
		.rounded(2px);
		display: inline-block;
		box-shadow: 
			inset 0 -14px 58px -5px @main-shadow,
			1px 1px 0px 1px fadeout(darken(@main-shadow, 10%), 10%),
			1px 1px 5px 1px rgba(0, 0, 0, 0.3);

		&:hover {
			background: lighten(@main-color, 5%);
			.drop-shadow(0px, 0px, 1px, 0.3, 0px);
			.translate(0px, 2px);
		}
	}

	// Responsive behaviour
	// --------------------

	// Landscape mode
	@media screen and (orientation: landscape), (min-width: 1000px) {
		.landing-controls { display: none !important; }
		.landing-story { top: 5% !important; }
		.center-div { margin-left: 10%; }
		img { 
			max-height: 100%; 
			.translate(10%, 10%);
		}
	}

	// Portrait mode
	@media screen and (orientation: portrait), (max-width: 1000px)  {
		.landing-controls { display: block !important; }
		.landing-story { top: 0% !important; }

		img {
			max-width: 40%;
			position: absolute;
			opacity: 0;
			.rounded(3px);

			&.active { opacity: 1; }
			// centering the image
			&:empty {
				top: 50%;
				left: 50%;
				.translate(-50%, -50%);
			}
		}
	}
}
