<% if (model.comments) {_.each(model.comments, function(comment) { %>
<div class="media">
  <a class="pull-left">
    <img class="media-object" src="<%- comment.avatar %>">
  </a>
  <div class="media-body">
    <span class="media-heading"><%- comment.message._content %></span>
  </div>
</div>
<% });} %>
<div class="media">
  <a class="pull-left">
    <img class="media-object" src="http://www.flickr.com/images/buddyicon.gif">
  </a>
  <div class="media-body">
    <span class="media-heading"><input class="comment-input" type="text" placeholder="Post a comment"><i class="icon-mail-forward"></i></span>
  </div>
</div>
