<div class="mobile-tabs">
	<!-- Mobile tabs -->
	<div id="explorer-tabs-mobile" class="explorer-tabs mobile">
		<div class="explorer-tab storee active" style="display: none" data-target="0">
		  <i class="icon-expand icon-2x"></i>
		</div>
		<div class="explorer-tab library" data-target="1">
		  <i class="icon-search icon-2x"></i>
		</div>
	</div>
</div>
<!-- Main panel -->
<div class="storeer-storee storeer-col col3-4">
	<div id="drop-panel" class="fill-height">
	</div>
	<div id="storeer-storee" class="storeer-storee">
	</div> 
	<!-- Overlay panel -->
	<div id="storeer-overlay" class="storeer-overlay storeer-storee storeer-row">

	</div>
</div>
<!-- Side panel -->
<div class="storeer-side-panel storeer-col col1-4">
	<!-- Content of the panel -->
	<div id="storeer-library" class="storeer-library">
	</div>
	<!-- Button tabs -->
	<div id="explorer-tabs" class="explorer-tabs desktop">
		<div class="explorer-tab storee active" style="display: none" data-target="0">
		  <i class="icon-expand icon-2x"></i>
		</div>
		<div class="explorer-tab library" data-target="1">
		  <i class="icon-search icon-2x"></i>
		</div>
	</div>
</div>


