<div id="explorer-tabs" class="explorer-tabs">
	<div class="explorer-tab storee active">
	  <i class="icon-expand icon-2x"></i>
	</div>
	<div class="explorer-tab library">
	  <i class="icon-search icon-2x"></i>
	</div>
</div>
<div id="drag-tab" class="search-tab">
  <i class=""></i>
</div>


<div id="storeer-library" class="storeer-library storeer-col col1-4">
</div>
<div class="storeer-storee storeer-col col3-4">
	<div id="drop-panel" class="fill-height storeer-visualizer-drop">
	  <div>
	    <i class="icon-unchecked drag"></i>
	    <i class="icon-plus-sign-alt drag-over"></i>
	  </div>
	</div>
	<div id="storeer-storee" class="storeer-storee">

	</div> 
</div>

