<div class="storeer-summary ">
  <div class="storeer-col col1 main-panel">
    <div class="header">
      <h4 style="color:white">Welcome to Storee</h4>
    </div>
  </div>
  <div class="header">
    <h2>Topic #235: Forest.</h2>
    <h2><small> This is a collection of some of the creations of the community</small></h2>
  </div>
  <div class="storeer-col col1 main-panel">
      <div class="storeer-col col2 squared">
        <div class="storeer-storee-border" draggable="true" >
          <div class="storeer-outer-thumbnail">
            <div class="storeer-storee-thumbnail" style="background-image: url('http://farm8.staticflickr.com/7339/9088143629_4134ddf9fe.jpg'); background-size:cover;">
              <div class="storeer-storee-thumbnail-transparency">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="storeer-col col2">
        <div class="storeer-col col2 squared">
          <div class="storeer-storee-border" draggable="true" >
            <div class="storeer-outer-thumbnail">
              <div class="storeer-storee-thumbnail" style="background-image: url('http://farm8.staticflickr.com/7339/9088143629_4134ddf9fe.jpg'); background-size:cover;">
                <div class="storeer-storee-thumbnail-transparency">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="storeer-col col2 squared">
          <div class="storeer-storee-border" draggable="true" >
            <div class="storeer-outer-thumbnail">
              <div class="storeer-storee-thumbnail" style="background-image: url('http://farm8.staticflickr.com/7339/9088143629_4134ddf9fe.jpg'); background-size:cover;">
                <div class="storeer-storee-thumbnail-transparency">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="storeer-col col2 squared">
          <div class="storeer-storee-border" draggable="true" >
            <div class="storeer-outer-thumbnail">
              <div class="storeer-storee-thumbnail" style="background-image: url('http://farm8.staticflickr.com/7339/9088143629_4134ddf9fe.jpg'); background-size:cover;">
                <div class="storeer-storee-thumbnail-transparency">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="storeer-col col2 squared">
          <div class="storeer-storee-border" draggable="true" >
            <div class="storeer-outer-thumbnail">
              <div class="storeer-storee-thumbnail" style="background-image: url('http://farm8.staticflickr.com/7339/9088143629_4134ddf9fe.jpg'); background-size:cover;">
                <div class="storeer-storee-thumbnail-transparency">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="header">
  </div>
</div>