<div class="storeer-row row2-3 main-info">
	<div class="background">
	</div>
	<div class="content">
		<div class="landing-text">
			<h2>Micro visual story telling in 5 frames </h2>
		</div>
		<div class="landing-story">
			<div class="landing-storee">
				<div class="storeer-storee-border">
					<div class="storeer-storee-thumbnail" style="background-image: url('http://media-cdn.tripadvisor.com/media/photo-s/03/9e/37/19/wayne-s-coffee.jpg'); background-size: cover; background-position:center;">
					</div>
				</div>
			</div>
			<div class="landing-storee">
				<div class="storeer-storee-border">
					<div class="storeer-storee-thumbnail" style="background-image: url('http://media-cdn.tripadvisor.com/media/photo-s/03/9e/37/19/wayne-s-coffee.jpg'); background-size: cover; background-position:center;">
					</div>
				</div>
			</div>
			<div class="landing-storee">
				<div class="storeer-storee-border">
					<div class="storeer-storee-thumbnail" style="background-image: url('http://media-cdn.tripadvisor.com/media/photo-s/03/9e/37/19/wayne-s-coffee.jpg'); background-size: cover; background-position:center;">
					</div>
				</div>
			</div>
			<div class="landing-storee">
				<div class="storeer-storee-border">
					<div class="storeer-storee-thumbnail" style="background-image: url('http://media-cdn.tripadvisor.com/media/photo-s/03/9e/37/19/wayne-s-coffee.jpg'); background-size: cover; background-position:center;">
					</div>
				</div>
			</div>
			<div class="landing-storee">
				<div class="storeer-storee-border">
					<div class="storeer-storee-thumbnail" style="background-image: url('http://media-cdn.tripadvisor.com/media/photo-s/03/9e/37/19/wayne-s-coffee.jpg'); background-size: cover; background-position:center;">
					</div>
				</div>
			</div>
		</div>
		<div class="landing-text">
			<h1 class="landing-information active">Think a plot for your storee.</h1>
			<h1 class="landing-information">Gather all you need to produce it: friends, assets, place, ...</h1>
			<h1 class="landing-information">Take pictures </h1>
			<h1 class="landing-information">Once finished, upload it to Storeer and share with the others</h1>
			<h1 class="landing-information"></h1>
		</div>
	</div>
</div>
<div class="storeer-row row1-3 sub-info">

</div>