<div id="storeer-landing" class="storeer-landing">
<div class="storeer-row row2-3 main-info rowmobile17-20">
	<div class="background">
		<div class="content">
			<div class="landing-text">
				<h2>Visual storytelling in 5 frames </h2>
			</div>
			<div id="landing-storee" class="landing-story">
				<div class="center-div">
					<img class="active landing-storee" data-text="#landing-text1" src='/img/think.png'>
					<img class=" landing-storee" data-text="#landing-text2"src='/img/prepare.png'>
					<img class=" landing-storee" data-text="#landing-text3" src='/img/photo.png'>
					<img class=" landing-storee" data-text="#landing-text4" src='/img/upload.png'>
					<img class=" landing-storee" data-text="#landing-text5" src='/img/end.png'>
				</div>
				<div class="landing-controls">
					<div id="storeer-prev" class="storeer-control-arrow previous" data-slide="prev"><p><i class="icon-chevron-left"></i></p></div>
					<div id="storeer-next" class="storeer-control-arrow next" data-slide="next"><p><i class="icon-chevron-right"></i></p></div>
				</div>
			</div>
			<div id="landing-text" class="landing-text">
				<h1 id="landing-text1" class="landing-information active">1. Think a plot for your storee.</h1>
				<h1 id="landing-text2" class="landing-information">2. Gather all you need to make it: friends, props, location ...</h1>
				<h1 id="landing-text3" class="landing-information">3. Take the pictures </h1>
				<h1 id="landing-text4" class="landing-information">4. Upload to storeer and share with the community</h1>
				<h1 id="landing-text5" class="landing-information">
					5. Let the storees 
					<div class="landing-button">begin</div>
				</h1>
			</div>
		</div>
	</div>
</div>
<div class="storeer-row row1-3 sub-info rowmobile3-20">
	<div class="storeer-col col3 landing-promo">
		<div class="landing-icons">
			<i class="icon-cog"></i>
			<i class="icon-camera-retro"></i>
		</div>
		<div class="landing-text">
			<strong>Challenge your creativity</strong> making short stories out of 5 pictures. If you already acquired a <strong>level 90000 of food and pet photography</strong> you can try out <strong>storee-telling leveling</strong>.
		</div>
	</div>
	<div class="storeer-col col3 landing-promo" >
		<div class="landing-icons">
			<i class="icon-user"></i>
			<i class="icon-heart"></i>
			<i class="icon-group"></i>
		</div>
		<div class="landing-text">
			Explore the Storees created by the community and let <strong>other's awesomeness surprise you</strong>. Every week you will receive a <strong>set of badges</strong> that you can give to others to express your <strong>amazement</strong>, <strong>gratitude</strong> or <strong>appreciation</strong>.
		</div>
	</div >
	<div class="storeer-col col3 landing-promo">
		<div class="landing-icons">
			<i class="icon-info"></i>
			<i class="icon-sign-blank first"></i>
			<i class="icon-sign-blank second"></i>
			<i class="icon-sign-blank third"></i>
			<i class="icon-sign-blank fourth"></i>
			<i class="icon-sign-blank fifth"></i>
		</div>
		<div class="landing-text">
			<strong>Storees</strong> are inspired by <italic>yonkoma</italic> (yon - four and koma - frame), a four-panel Japanese comic strip that follows the structure known as <strong>Kishōtenketsu</strong>.
		</div>
	</div>
</div>
</div>