<div id="storeer-landing" class="storeer-landing">
<div class="storeer-row row2-3 main-info">
	<div class="background">
	</div>
	<div class="content">
		<div class="landing-text">
			<h2>Micro visual story telling in 5 frames </h2>
		</div>
		<div id="landing-storee" class="landing-story">
			<div class="landing-storee active" data-text="#landing-text1">
				<div class="storeer-storee-border">
					<div class="storeer-storee-thumbnail" style="background-image: url('http://media-cdn.tripadvisor.com/media/photo-s/03/9e/37/19/wayne-s-coffee.jpg'); background-size: cover; background-position:center;">
					</div>
				</div>
			</div>
			<div class="landing-storee" data-text="#landing-text2">
				<div class="storeer-storee-border">
					<div class="storeer-storee-thumbnail" style="background-image: url('http://media-cdn.tripadvisor.com/media/photo-s/03/9e/37/19/wayne-s-coffee.jpg'); background-size: cover; background-position:center;">
					</div>
				</div>
			</div>
			<div class="landing-storee" data-text="#landing-text3">
				<div class="storeer-storee-border">
					<div class="storeer-storee-thumbnail" style="background-image: url('http://media-cdn.tripadvisor.com/media/photo-s/03/9e/37/19/wayne-s-coffee.jpg'); background-size: cover; background-position:center;">
					</div>
				</div>
			</div>
			<div class="landing-storee" data-text="#landing-text4">
				<div class="storeer-storee-border">
					<div class="storeer-storee-thumbnail" style="background-image: url('http://media-cdn.tripadvisor.com/media/photo-s/03/9e/37/19/wayne-s-coffee.jpg'); background-size: cover; background-position:center;">
					</div>
				</div>
			</div>
			<div class="landing-storee" data-text="#landing-text5">
				<div class="storeer-storee-border">
					<div class="storeer-storee-thumbnail" style="background-image: url('http://media-cdn.tripadvisor.com/media/photo-s/03/9e/37/19/wayne-s-coffee.jpg'); background-size: cover; background-position:center;">
					</div>
				</div>
			</div>
		</div>
		<div id="landing-text" class="landing-text">
			<h1 id="landing-text1" class="landing-information active">1. Think a plot for your storee.</h1>
			<h1 id="landing-text2" class="landing-information">2. Gather all you need to produce it: friends, assets, place, ...</h1>
			<h1 id="landing-text3" class="landing-information">3. Take pictures </h1>
			<h1 id="landing-text4" class="landing-information">4. Once finished, upload it to Storeer and share with the others</h1>
			<h1 id="landing-text5" class="landing-information">
				5. Let the Storees 
				<div class="landing-button">begin</div>
			</h1>
		</div>
	</div>
</div>
<div class="storeer-row row1-3 sub-info">

</div>
</div>