<div id="storeer-visualizer" class="storeer-visualizer">
  <!-- Storee frame helper -->
  <div class="storeer-frame-indicator">
    <div id ="frame-indicator" class="logo-background">
      <% var active = 'active'; for (var i = 0; i < model.frames.length; ++i) { %>
        <div class=" storeer-frame-indicator cube <%- active %>" data-order="<%- i %>"></div>
        <% active = '';%>
      <% }; %>
      <div class=""></div>
    </div>
  </div>

  <!-- Storee frame -->
  <div class="storeer-visualizer-frame expanded storeer-row row2">
    <!-- Storee frame strip -->
    <div id="storeer-frame-strip" class="storeer-frame-strip">
      <% var active = 'active'; var i = 0; _.each(model.frames, function(frame) { %>
        <div class="storeer-frame item <%- active %>" data-order="<%- i %>" style="margin-right: 80px;">
          <% if (!frame.src) { %>
            <img draggable="false" class="empty" data-ratio="1">
            <div class="storeer-frame-empty">
              <div class="empty-image">
                <div class="drop-zone">
                  <div class="storeer-row row2">
                    <br>
                    <h3><span class="icon-stack icon-2x">
                      <i class="icon-circle icon-stack-base"></i>
                      <i class="icon-light"> <%- i+1 %></i>
                    </span></h3>
                    <h3><%- frame.info %></h3>
                  </div>
                  <div class="storeer-row row2">
                    <h3 class="sub-info">
                      <i class="icon-signin"></i><br>
                      Drop image
                    </h3>
                  </div>
                </div>
              </div>
            </div>
          <% } else { %>
            <img draggable="false" src="<%- frame.src %>">
            <div class="storeer-frame-transparency">
            </div>
          <% } %>
        </div>
        <% active = ''; i++; %>
      <% }); %>
      <div class="storeer-frame item end-frame" data-order="<%- i %>" style="margin-right: 20px;">
          <div class="end-options">
            <% if (model.id) { %>
            <span class="icon-stack icon-4x">
              <i class="icon-circle icon-stack-base"></i>
              <i class="icon-trophy icon-light"></i>
            </span>
            <span class="icon-stack icon-4x">
              <i class="icon-circle icon-stack-base"></i>
              <i class="icon-heart  icon-light"></i>
            </span>
            <span class="icon-stack icon-4x">
              <i class="icon-circle icon-stack-base"></i>
              <i class="icon-bookmark icon-light"></i>
            </span>
            <% } else { %>
            <span class="icon-stack icon-4x">
              <i class="icon-circle icon-stack-base"></i>
              <i class="icon-arrow-up icon-light"></i>
            </span>
            <% } %>
          </div>
      </div>
    </div>

    <!-- Storee nav controls -->
    <div class="visualizer-controls">
      <div id="storeer-prev" class="storeer-control-arrow previous" data-slide="prev"><p><i class="icon-chevron-left"></i></p></div>
      <div id="storeer-next" class="storeer-control-arrow next" data-slide="next"><p><i class="icon-chevron-right"></i></p></div>
      <% if (model.id) { %>
      <div id="storeer-close" class="storeer-control-close remove extra"><p>&times;</p></div>
      <% } %>
    </div>
  </div>

  <!-- Storee details -->
  <div class="storeer-details storeer-row row2">
    <div class="storeer-details-topbar ">
      <div class="media-preview">
        <div class="avatar-frame">
          <div class="avatar-img" style="background-image: url('<%- model.avatar %>'); background-size: cover; background-position:center;">
          </div>
        </div>
      </div>

      <div class="media-content">
        <div class="storeer-title">
          <h4><% if (model.id) { %>
            <%- model.subject %>
          <% } else { %>
          <input placeholder="Storee title" type="text">
          <% } %></h4>
        </div>
        <div class="storeer-author">
          <h4> <% if (model.id) { %>
          <small><%- model.authorname %></small>
          <% } else { %>
          <small> Victor Guerrero</small>
          <% } %></h4>
        </div>
      </div>
      <div class="storeer-comments mobile">
        <div id="storeer-options-mobile" class="storeer-options-container">
          <div class="storeer-options comments mobile active">
            <div class="options-outline"></div>
            <i class="icon-comment"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="storeer-comments no-mobile">
        <div id="storeer-options" class="storeer-options-container">
          <div class="storeer-options comments no-mobile active">
            <i class="icon-comment"></i>
          </div>
        </div>
    </div>
    <div  class="storeer-option">
      <div id="storeer-options-content">
        <div id="storee-comments" class="tab-content active">
          <div class="loading">
            <i class="icon-spinner icon-spin icon-3x"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>