<div id="storeer-stream" class="storeer-stream">
	<!-- Options to open, like and share -->
	<div id="strip-options" class="strip-options">
	  <span class="icon-stack icon-2x expand">
	    <i class="icon-circle icon-stack-base"></i>
	    <i class="icon-resize-full icon-light"></i>
	  </span>
	  <span class="icon-stack icon-2x">
	    <i class="icon-circle icon-stack-base"></i>
	    <i class="icon-heart  icon-light"></i>
	  </span>
	  <span class="icon-stack icon-2x">
	    <i class="icon-circle icon-stack-base"></i>
	    <i class="icon-share-alt icon-light"></i>
	  </span>
	</div>
</div>
